<!--The content below is only a placeholder and can be replaced.-->
<div>
    <div id="header">
        <div class="container-fluid">
            <div id="logo">
                <a routerLink="/">
                    <img src="/assets/images/logo_example.png" title="logo"/>
                    <h1><span>{{title}}</span></h1>
                </a>
            </div>
            <div id="navbar">
                <div>
                    <ul>
                        <li><a routerLink="/"><i class="fa fa-home"></i> Home</a></li>
                        <li><a routerLink="/login"><i class="fa fa-shield"></i> Login</a></li>
                        <li><a routerLink="/"><i class="fa fa-comment"></i> Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>        
    </div>
    <div class="container-fluid container-home">
        <!-- Shows the route component -->
        <router-outlet></router-outlet>
        <!-- <app-messages></app-messages> -->
    </div>
    <div id="footer">
        <div id="footer-contenedor" class="container-fluid">
            <div id="derechos">&copy; 2018 - Enoc Baeza - Todos los derechos reservados</div>
            <hr id="footer-separador">
        </div>
    </div>
</div>
